*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, rgb(5, 201, 208),pink, rgb(201, 74, 201));
    padding: 10px;
}

.todo-app{
    width: 100%;
    max-width: 500px;
    height: 500px;
    background: rgb(230, 208, 208);
    border-radius: 10px;
    margin: 25px 30px;
    padding: 10px 20px;
}

.todo-app h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.inputs{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
    background: white;
    border-radius: 30px;
}

input{
    padding-left: 20px;
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.inputs button{
    cursor: pointer;
    padding: 20px;
    background-color: rgb(237, 107, 26);
    color: white;
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 16px;

}

ul li{
    height: 50px;
    margin-top: 10px;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid red; */
    list-style: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
}

ul li button{
    font-size: 16px;
    padding: 10px;
    width: 50px;
    height: 50px;
    border: none;
    background-color: white;
    cursor: pointer;
    border-radius: 50%;
    color: black;
}

.cross ::after{
    color: green;
}
