* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to bottom, rgb(5, 201, 208), pink, rgb(201, 74, 201));
    padding: 10px;
}

.todo-app {
    border-radius: 10px;
    width: 100%;
    max-width: 1000px;
    min-height: 500px;
    background: rgb(230, 208, 208);
    border-radius: 10px;
    margin: 25px 30px;
    padding: 30px 40px;
}

.todo-app h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.inputs {
    margin-top: 20px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    border-radius: 30px;
    padding: 5px;
}

input {
    padding: 20px 20px;
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.inputs button {
    cursor: pointer;
    padding: 15px 30px;
    background-color: rgb(237, 107, 26);
    color: white;
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.inputs button:hover {
    background-color: rgb(207, 87, 6);
}

ul {
    margin-top: 20px;
    padding: 0;
}

ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    min-height: 50px;
    width: 100%;
    margin-top: 10px;
    background-color: white;
    list-style: none;
    font-size: 16px;
    border-radius: 20px;
}

ul li button {
    width: auto;
    height: auto;
    padding: 15px 25px;
    cursor: pointer;
    background-color: rgb(237, 107, 26);
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    transition: background-color 0.3s;
}

.done-btn{
    background-color: rgb(8, 127, 8);
    transition: background-color 0.3s;
}

ul li button.delete-btn {
    background-color: red;
    transition: background-color 0.3s;
}

ul li button.delete-btn:hover {
    background-color: maroon;
}

.done-btn:hover {
    background-color: rgb(3, 80, 3);
}

ul li span {
    position: relative;
    display: inline-block;
    transition: opacity 0.3s ease; /* smooth fade effect */
}

ul li.completed span {
    opacity: 0.6;
}

ul li span::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.4s ease;
    transform: translateY(-50%);
}

ul li.completed span::after {
    width: 100%;
}

